In [8]:
from box import ConfigBox

In [9]:
d2 = ConfigBox({"key1": "value1", "key2": "value2"})

In [10]:
d2.key1

'value1'

In [11]:
#ensure annotation demo

def get_product(x:int, y:int) -> int:
    return x*y

In [12]:
get_product(x=2, y=3)

6

In [13]:
get_product(x=2, y="3")

'33'

In [16]:
from ensure import ensure_annotations

In [17]:
@ensure_annotations
def get_product(x:int, y:int) -> int:
    return x*y

In [18]:
get_product(x=2, y="3")

EnsureError: Argument y of type <class 'str'> to <function get_product at 0x1073b7880> does not match annotation type <class 'int'>

In [14]:
import pandas as pd

df_data = pd.read_csv("/Users/adityakumar/BankCD-Prediction/artifacts/data_ingestion/processed_train.csv")
pd.set_option('display.max_columns', None)
df_data.head()

,default,balance,housing,loan,contact,day,duration,campaign,pdays,previous,poutcome,cd,age_bin_Medium,age_bin_High,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,job_unknown,marital_married,marital_single,education_Secondary,education_Tertiary,education_Unknown,generation_millenials,generation_older boomers,generation_silent generation,generation_younger boomers,month_aug,month_dec,month_feb,month_jan,month_jul,month_jun,month_mar,month_may,month_nov,month_oct,month_sep
0,0,11924,0,0,0.217754,13,4102,32.0,144,8.0,0.232275,1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False
1,0,398,1,0,0.232184,20,66,4.0,15,4.0,0.223617,1,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,False,False
2,0,2177,1,0,0.217754,19,10,3.0,465,4.0,0.232275,0,False,True,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False
3,0,26673,1,0,0.232184,6,3902,17.0,396,6.0,0.223617,1,True,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True,False
4,0,6358,0,1,0.217754,15,3563,28.0,314,24.0,0.232275,0,True,False,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False,False,False,False

In [15]:
df_data.shape

(35940, 45)

In [16]:
df_data.columns

Index(['default', 'balance', 'housing', 'loan', 'contact', 'day', 'duration',
       'campaign', 'pdays', 'previous', 'poutcome', 'cd', 'age_bin_Medium',
       'age_bin_High', 'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed', 'job_services',
       'job_student', 'job_technician', 'job_unemployed', 'job_unknown',
       'marital_married', 'marital_single', 'education_Secondary',
       'education_Tertiary', 'education_Unknown', 'generation_millenials',
       'generation_older boomers', 'generation_silent generation',
       'generation_younger boomers', 'month_aug', 'month_dec', 'month_feb',
       'month_jan', 'month_jul', 'month_jun', 'month_mar', 'month_may',
       'month_nov', 'month_oct', 'month_sep'],
      dtype='object')